body {
  background: rgb(255, 255, 255);
  margin: 0;
  text-align: center;
  background: #00005c;
  color: #4e105a;
  font-size: 2.5vh;
  font-weight: 700;
}

form {
  width: 100%;
  position: relative;
  top: 25vh;
  transform: translateY(-50%);
}

.container {
  background: rgba(255, 255, 255, .5);
  width: 60%;
  height: 50vh;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

button {
  background: linear-gradient(to bottom right, #82508b, #740e88);
  color: white;
  height: 1.75em;
  font-weight: 100;
  border-radius: .5em;
  display: block;
  margin: auto;
  margin-top: 1em;
  font-size: 2.5vh;
}

input {
  border: none;
  font-size: 2.5vh;
}

@media(max-width: 1024px) {
  .container {
    width: 100%;
  }
}