body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(25, 25, 25);
}

form {
  width: 30%;
  margin: auto;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 2em 10em;
}
h1 {
  text-align: center;
}
